<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{% url 'update_produto' produto.id %}" method="POST">
      {% csrf_token %}
      <input type="text" name="name" />
      <input type="text" name="price" />
      <input type="text" name="storage" />
      <input type="text" name="category_id" />
      <button type="submit">Editar</button>
    </form>

    {{produto.id}} - {{produto.name}} - {{produto.price}} - {{produto.storage}}
    - {{produto.category_id.name}}
  </body>
</html>
